<div class="row">
    <h4 class="center-align">Editar Persona</h4>
    <article class="col s6 offset-s3">
        <form [formGroup]="fgValidador" (ngSubmit)="EditarPersona()">
            <input type="hidden" formControlName="id" />
            <input type="hidden" formControlName="clave" />
            <div class="input-field">
                <label for="nombres" class="active">nombres</label>
                <input formControlName="nombres" type="text" name="nombres" id="nombres" required/>
            </div>
            <div class="input-field">
                <label for="apellidos" class="active">apellidos</label>
                <input formControlName="apellidos" type="text" name="apellidos" id="apellidos" required/>
            </div>
            <div class="input-field">
                <label for="identificacion" class="active">Identificación</label>
                <input formControlName="identificacion" type="text" name="identificacion" id="identificacion" required/>
            </div>
            <div class="input-field">
                <label for="direccion" class="active">Dirección</label>
                <input formControlName="direccion" type="text" name="direccion" id="direccion" required/>
            </div>
            <div class="input-field">
                <label for="correo" class="active">correo</label>
                <input formControlName="correo" type="text" name="correo" id="correo" required/>
            </div>
            <div class="input-field">
                <label for="celular" class="active">celular</label>
                <input formControlName="celular" type="text" name="celular" id="celular" required/>
            </div>
            <div class="input-field">
                <label for="rol" class="active">rol</label>
                <input formControlName="rol" type="text" name="rol" id="rol" required/>
            </div>

            <p class="center-align">
                <button [disabled]="!fgValidador.valid" class="waves-effect waves-light btn" type="submit">
                    <i class="material-icons right">send</i>Guardar Cambios
                </button>
            </p>
        </form>

    </article>
</div>